---
import { info } from '@data';

import MetaHead from '@components/general/MetaHead.astro';
import ProjectsWrapper from '@components/general/ProjectsWrapper.astro';
import SectionHeader from '@components/general/SectionHeader.astro';
import Experience from '@components/home/Experience.astro';
import Hero from '@components/home/Hero.astro';
import Technologies from '@components/home/Technologies.astro';
import Layout from '@layouts/Layout.astro';

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!doctype html>
<html lang='en'>
  <head>
    <MetaHead title={'Portfolio'} description={info.about} ogImageUrl={'/assets/images/profile.png'} />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} jobDescription={info.jobDescription} about={info.about} />
      <Experience
        title='Experience'
        subtitle="Where I've actually made a difference"
        details={info.experience}
      />
      <Experience
        title='Education'
        subtitle='The school years that got me here'
        details={info.education}
      />
      <Technologies />
      <section class='flex items-start justify-between flex-col sm:flex-row dark:text-light'>
        <SectionHeader
          title='Featured Projects'
          subtitle='A few favorites from the vault'
          class='w-[15rem] mt-16 shrink-0'
        />
        <div class='w-full'>
          <ProjectsWrapper projects={featureProjects} />
        </div>
      </section>
    </Layout>
  </body>
</html>
